.client-baseMessage {
    padding: 20px;
    margin-top: 16px;
    background-color: #FFFFFF;
    margin-left: 2.7%;
    margin-right: 2%;
    box-shadow: 0 2px 2px 0
}
.minHeight {
    min-height: 550px;
}
.client-flex-top-box {
    display: flex;
    border-bottom: 1px solid #F4F3F4;
}

.client-flex-top-item, .client-flex-top-avatar {
    flex: 1;
}
.client-flex-top-avatar {
    display: flex;
    border-right: 1px solid #F4F3F4;
}
.client-flex-top-avatar img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 15px;
}

.content-item-name {
    font-size: 24px;
}
.content-item-id, .content-item-Name {
    color: #666666;
}
.content-item-Name {
    padding-bottom: 15px;
}
.client-flex-top-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 14px;
}
.client-flex-top-item>span:nth-child(1) {
    flex: 2.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-flex-top-item>span:nth-child(3) {
    flex: 2;
    opacity: .6;
}
.client-flex-top-item>span:nth-child(2) {
    font-size: 18px;
    color: #C8A377;
    flex: 2;
}
.border-box{
    position: relative;
}
.border-box:before {
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 40px;
    background-color: #F4F3F4;
}
.border-box:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 40px;
    background-color: #F4F3F4;
}
.client-flex-bottom-box {
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
}
.client-flex-bottom-box>div {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}
.last-item {
    opacity: .8;
    display: block;
}
.client-flex-bottom-box>div:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #666666;
    left: 0;
    margin-right: 8px;
    border-radius: 2px;
}
.client-baseMessage .ant-menu-horizontal {
    background-color: #FFFFFF;
    color: black;
}
.flex-content-box {
    display: flex;
}
.flex-content-left {
   flex: 3;
}
.flex-content-right {
    flex: 1;
    margin-top:16px;
    margin-right: 2%;
    background: #FFFFFF;
}
.flex-content-right>.label-title {
    display: flex;
    height: 34px;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    background: #FAFAFA;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
}
.flex-content-right>.label-title> .edit {
    display: flex;
}
.label-display {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.label-layout {
    width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-item {
    position: relative;
    text-align: center;
    line-height: 32px;
    width: 110px;
    height: 32px;
    font-size: 14px;
    background: #F4F3F4;
    border-radius: 41px;
}
.cancel {
    margin-right: 10px;
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #C8A377;
    color: #ffffff;
    letter-spacing: 0;
}
.delete-item {
    position: absolute;
    right: 10px;
    transform: rotate(45deg);
    font-size: 18px;
}
.add-item {
    left: 15px;
    font-size: 18px;
    color: #979797;
}
.label-add {
    text-align: center;
    line-height: 32px;
    width: 110px;
    height: 32px;
    font-size: 14px;
    background: #FFFFFF;
    border-radius: 41px;
    border: 1px solid #979797;
    border-style:dashed;
}