.navigation-message {
    min-width: 1200px;
    width: 85%;
    height: 35px;
    margin-left: 2%;
    margin-top: 15px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border-radius: 2px;
    line-height: 35px;
    padding-left: 20px;
}
.export_button {
    float: right;
    margin-right: 10px;
}
.export_button:nth-child(1) {
    margin-right: 20px;
}
.exportButton {
    width: 60px;
    height: 24px;
    background-color: #C8A377;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px;
}
