
.container {
    display: flex;
    overflow: hidden;
    min-height: 870px;
    min-width: 1396px;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}
.router-map {
    flex: 1;
}
.hh {
    margin-top: 30px;
    width: 40px;
    height: 30px;
}
button {
    outline: none;
}